# Dependencies
node_modules/

# Test coverage
coverage/

# Logs
logs/
*.log
npm-debug.log*

# Results
results/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Playwright
playwright-report/
test-results/
